In [ ]:
# /Users/brock/opt/anaconda3/envs/pyfinance/bin/python -m pip install lib-pybroker

In [2]:
from pybroker import YFinance

yfinance = YFinance()
df = yfinance.query(['AAPL', 'MSFT'], start_date='3/1/2021', end_date='3/1/2022')
df

Loading bar data...
[*********************100%***********************]  2 of 2 completed
Loaded bar data: 0:00:00

,date,symbol,open,high,low,close,volume,adj_close
0,2021-03-01,AAPL,123.750000,127.930000,122.790001,127.790001,116307900,126.270065
1,2021-03-01,MSFT,235.899994,237.470001,233.149994,236.940002,25324000,232.742340
2,2021-03-02,AAPL,128.410004,128.720001,125.010002,125.120003,102260900,123.631821
3,2021-03-02,MSFT,237.009995,237.300003,233.449997,233.869995,22812500,229.726730
4,2021-03-03,AAPL,124.809998,125.709999,121.839996,122.059998,112966300,120.608208
...,...,...,...,...,...,...,...,...
501,2022-02-24,MSFT,272.510010,295.160004,271.519989,294.589996,56989700,291.728027
502,2022-02-25,AAPL,163.839996,165.119995,160.869995,164.850006,91974200,163.857407
503,2022-02-25,MSFT,295.140015,297.630005,291.649994,297.309998,32546700,294.421631
504,2022-02-28,AAPL,163.059998,165.419998,162.429993,165.119995,95056600,164.125763
505,2022-02-28,MSFT,294.309998,299.140015,293.000000,298.790009,34627500,295.887268

In [2]:
import os
os.getcwd()

'/Users/brock/Desktop/2023_projects/ArtificialIntelligence/Part_1_Q-Learning'

In [1]:
import sys
sys.path

['/Users/brock/Desktop/2023_projects/ArtificialIntelligence/Part_1_Q-Learning',
 '/Users/brock/opt/anaconda3/lib/python38.zip',
 '/Users/brock/opt/anaconda3/lib/python3.8',
 '/Users/brock/opt/anaconda3/lib/python3.8/lib-dynload',
 '',
 '/Users/brock/opt/anaconda3/lib/python3.8/site-packages']